body {
  header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 0;
    height: 6%;
    background-color: rgba(0,0,0,.84);
    padding-top: 15px;
    
    ul {
      display: inline-flex;
      list-style: none;
      width: 120px;
      justify-content: space-between;
      padding: 0;
      margin: 0;
      padding-right: 15px;
    }
    a {
        text-decoration: none;
        color: white;
    }
    #codial-title {
        padding-left: 13px;
        font-size: 20px;
        font-family: 'Lobster', cursive;
    }
  }
}
